# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

#terraform
terraform/.terraform/
terraform/*.tfstate*
ansible/*.retry

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/

**/.DS_Store
